* {
    height: auto;
    width: 100%;
}

:root {
    --bg-color: #fafafa;
}

.container-content {
    height: 80vh;
    padding: 20px;
    margin-top: 20px;
}

.navbar {
    height: 6rem;
    width: 100%;
}

#logo {
    height: auto;
    width: 300px;
}


.container-content label {
    font-size: 10pt;
}

.container-content input {
    height: auto;
    width: 100%;
    box-shadow: none;
    outline: none;
    font-size: 10pt;
}

.container-content select {
    font-size: 10pt;
} 

.container-content .btn-gerar-link {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.container-content .btn-download {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.container-content .btn-gerar-link .spinner-border {
    height: 24px;
    width: 24px;
}

.link-container {
    margin-top: 20px;
    display: none;
}

.copy-message {
    margin-top: 10px;
    color: green;
    display: none;
}

.container-select-application {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: blue; */
}

.container-select-application #btn-view-application {
    height: auto;
    width: 200px;
}

.container-select-application #app {
    height: auto;
    width: 100%;
}

.container-select-application .info-1{
    height: auto;
    width: 300%;
}

.container-select-application .info-2 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#img-logo {
    height: 100px;
    width: 100px;
    margin-bottom: 1rem;
}